@import '../../css/variables';
@import '../../css/mixins.scss';

#contatos {
    padding: 20px 0;
    background-color: $cor_bg_black;

    .container {
        display: flex;
        gap: 20px;
        background-color: $cor_bg_black_fraca;

        h2 {
            color: $cor_fonte_branca;
        }
        .card {
            width: 100%;
            background-color: $cor_fonte_branca;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include borda_destaque;
            overflow: auto;

            .nome-card {
                font-weight: bold;
                display: inline-block;
                border-radius: 5px;
                font-size: 1.8rem;
                margin-bottom: 20px;
                @include fonte_corpo($cor_fonte_preta);
            }

            .div-conteudo-card {
                margin-bottom: 20px;
            }

            .desc {
                margin: 0;
                line-height: 1;
                
                font-weight: 400;
                @include fonte_corpo($cor_bg_black);
                text-align: center;
            }
        }
        .card-redes-sociais {
            .div-conteudo-card {
                display: flex;
                justify-content: center;
                gap: 10px;

                .a-icon {
                    display: flex;
                    color: $cor_fonte_preta_fraca;
                    aspect-ratio: 1/1;
                    height: 50px;
                    align-items: center;
                    justify-content: center;
                    background-color: $cor_principal_fraca;
                    border-radius: 10px;
                    
                    
                    .icon {
                        font-size: 180%;
                        transition: 200ms;
                        &:hover {
                            color: $cor_principal;
                        }
                    }
                }
            }
        }

        .div-grid {
            display: none;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;
            overflow: visible;

            .card {
                width: 100%;
                background-color: $cor_fonte_branca;
                padding: 20px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include borda_destaque;
                overflow: auto;

                .nome-card {
                    font-weight: bold;
                    display: inline-block;
                    border-radius: 5px;
                    font-size: 1.8rem;
                    margin-bottom: 20px;
                    @include fonte_corpo($cor_fonte_preta);
                }

                .div-conteudo-card {
                    margin-bottom: 20px;
                }

                .desc {
                    margin: 0;
                    line-height: 1;
                    font-size: 1.2rem;
                    font-weight: 400;
                    @include fonte_corpo($cor_bg_black);
                    text-align: center;
                }
            }

            .card-email {
                .div-conteudo-card {
                    .conteudo-email {
                        display: flex;
                        gap: 10px;

                        .div-icon {
                            background-color: $cor_principal;
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                            aspect-ratio: 1/1;
                            height: 100%;

                            .icon {
                                font-size: 5rem;
                                aspect-ratio: 1/1;
                                color: $cor_fonte_branca;
                                font-weight: bold;
                            }
                        }

                        .div-input {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 100%;

                            .email {
                                font-size: 1.8rem;
                                font-weight: bold;
                                color: $cor_principal;
                            }

                            input {
                                border: 2px solid black;
                                border-radius: 5px;
                                height: 60%;
                                padding: 10px;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .card-redes-sociais {
                .div-conteudo-card {
                    display: flex;
                    justify-content: center;

                    .a-icon {
                        display: block;
                        color: $cor_fonte_preta;
                        aspect-ratio: 1/1;

                        .icon {
                            font-size: 5rem;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint_tablet) {
        .container {
            flex-wrap: wrap;
            .div-grid {
                grid-template-columns: 1fr;
            }
        }
    }

    @media (max-width: $breakpoint_mobile) {
        .container {
            .div-grid {
                grid-template-columns: 1fr;
            }
        }
    }
}

