@import "../../css/variables";
@import "../../css/mixins.scss";

#secInicio {
  background-color: $cor_fundo_preto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  padding-top: 90px;
  margin-top: 0;

  display: flex;

  justify-content: center;

  color: $cor_fonte_branca;
  box-shadow: inset 40vw -300px 200px $cor_fundo_preto;

  .container {
    background-color: $cor_fundo_preto_fraco;
  }
  display: none;
}
