@import '../../css/variables';
@import '../../css/mixins.scss';

footer {
    display: block;
    padding: 20px 70px;

    background-color: $cor_fundo_preto;


    p, a {
        color: $cor_fonte_branca;
    }

    .copyright-footer {
        text-align: center;
        margin: 0;
        
        a {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}