/* Importações */
@import "../../css/variables";
@import "../../css/mixins.scss";

#navPrincipal {
  display: none;
}

/* Estilo para header */
header {
  background-color: $cor_fundo_preto;
  position: fixed;
  top: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 70px;

  .container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Estilo para itens de navegação */
    .item-nav {
      @include fonte_corpo($cor_fonte_branca);
      font-weight: bold;
      padding: 10px;
      border-radius: $border_radius_padrao;
      transition: 300ms;

      &:hover {
        opacity: 1;
        background-color: $cor_fonte_branca;
        color: $cor_fonte_preta;
      }
    }

    nav {
      display: flex;
      align-items: center;
      gap: 16px;

      ul {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      /* Menu HAMBURGUER */
      .div-menu-h {
        display: none;
        padding: 10px;
        background-color: $cor_fonte_branca;
        border-radius: 10px;
        position: relative;
        width: 45px;
        aspect-ratio: 1/1;
        justify-content: center;
        align-items: center;

        #button-open-menu {
          scale: 4;
        }
        #button-close-menu {
          scale: 6;
        }

        .hidden {
          display: none;
        }
      }
    }

    /* Botão de contato no cabeçalho */
    .button-contato-header {
      @include a_button-1;
    }

    /* Estilo responsivo para tablet */
    @include bp_tablet {
      /* nav ativa */
      .nav-ativa {
        ul {
          display: flex;
        }
      }

      nav {
        .div-menu-h {
          display: flex;
        }
      }

      nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        transform: translateX(0);
        display: none;
        gap: 4px;
        flex-direction: column;
        background-color: $cor_fundo_preto;
        padding: 10px 20px;
        width: 100%;
        height: calc(100vh - 70px);
        border-radius: 10px;
        overflow: hidden;

        li {
          width: 100%;

          &:first-child {
            border-radius: 10px 10px 0 0;
            overflow: hidden;
          }
          &:last-child {
            border-radius: 0 0 10px 10px;
            overflow: hidden;
          }

          .item-nav {
            border-radius: 0;
            display: inline-block;
            width: 100%;
            padding: 20px;
            text-align: center;
            background-color: $cor_bg_black_fraca;
          }
        }
      }
    }
  }
}

/* Estilo para .logo */
.logo {
  width: 200px;
  opacity: 0.8;
  transition: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: block;
    overflow: visible;
  }

  &:hover {
    background-color: transparent;
    opacity: 1;
    scale: 1.01;
  }
}
