// cores principais e secundárias
$cor_principal: #9300b7;
$cor_principal_fraca: #9200b74d;

// variaveis de fontes
$fonte_titulos: 'Montserrat', sans-serif;
$fonte_corpo: 'Raleway', sans-serif;

// variaveis de cores: fontes
$cor_fonte_branca: #f7f7f7;
$cor_fonte_branca_fraca: #a4a4a4; 
$cor_fonte_preta: #1d1d1d;
$cor_fonte_preta_fraca: #160700;

// variaveis de cores: backgrounds
$cor_bg_black: #1D1D1D;
$cor_bg_black_fraca: #272727;

// variaveis de breakpoints
$breakpoint_mobile: 650px;
$breakpoint_tablet: 900px;
$breakpoint_desktop: 1024px;

// larguras máximas
$larg_max_components: 1200px;

// variaveis de border radius
$border_radius_padrao: 10px;