// variáveis de cores
$azulEscuro:#010326;
$laranja:#F29F05;
$branco:#F0F8EA;
$vermelho:#D92E1E;
$preto:#0D0D0D;



$cor_fundo_pagina :$branco;

// cores principais e secundárias
$cor_principal: #D92E1E;
$cor_secudaria:#F29F05;

$cor_fundo_branco:#F0F8EA;
$cor_fundo_branco_fraco:#f0f8ea80;
$cor_fundo_preto:#0D0D0D;
$cor_fundo_preto_fraco:#272727;

$cor_fonte_branca:#F0F8EA;
$cor_fonte_preta:#0D0D0D;

// variaveis de fontes
$fonte_titulos: 'Montserrat', sans-serif;
$fonte_corpo: 'Montserrat', sans-serif;

// variaveis de cores: fontes





// variaveis de cores: backgrounds

$cor_bg_black_fraca: #272727;

// variaveis de breakpoints
$breakpoint_mobile: 650px;
$breakpoint_tablet: 900px;
$breakpoint_desktop: 1024px;

// larguras máximas
$larg_max_components: 1400px;

// variaveis de border radius
$border_radius_padrao: 10px;