/* Importações */
@import "css/variables";
@import "css/mixins";

/* Estilo para #secDetalhesProjetos */
#secDetalhesProjetos {
  margin-top: 0px;
  background-color: $cor_bg_black;
  color: $cor_fonte_branca;

  .container {
    background-color: $cor_bg_black_fraca;
    margin-top: 80px;

    .informacoes {
      width: 100%;
      border-radius: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      .text {
        h2 {
          margin-bottom: 10px;
        }

        hr {
          height: 2px;
          width: 100%;
          background-color: $cor_fonte_branca;
          opacity: 0.4;
          border-radius: 10px;
          margin: 10px 0 20px;
        }

        .links {
          display: flex;
          gap: 10px;
          margin-bottom: 20px;

          .visitar,
          .deploy {
            @include a_button-1;
          }

          .deploy {
            border: 1px solid $cor_fonte_branca;

            &:hover {
              background-color: $cor_fonte_branca;
            }
          }
        }

        p {
          margin: 0;
          margin-bottom: 10px;
          @include fonte_corpo($cor_fonte_branca);
        }

        .data,
        .recursos {
          font-size: 1.4rem;
        }
      }

      .div-img {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;

        img {
          display: block;
          width: 100%;
          aspect-ratio: 4/3;
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }
  }

  /* Media Queries */

  @include bp_tablet {

    .container {
      .informacoes {
        display: flex;
        flex-direction: column-reverse;

        .links {
          a {
            width: 50%;
            text-align: center;
          }
        }
      }
    }
  }
}

/* Estilo para #conteudo */
#conteudo {
  background-color: $cor_bg_black_fraca;
  margin-top: 10px;
}
